.thumbnail {
    min-height: 660px;
    background-color: #2a3234;
    border-color: #2a3234;
}
.thumbnail .caption {
    position: relative;
}
.result-thumb-desc {
    height: 120px;
    overflow: hidden;
    color: #ffffff;
}
.result-thumb-title {
    height: 60px;
    overflow: hidden;
    font-size: 19px;
    color: #5cc11d;
}

.result-thumb-knownfor {
    color: #ffffff;
}
.result-thumb-rating,
.result-thumb-popularity {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
}
.popover-title,
.popover-content {
    background-color: #2a3234;
    color: #ffffff;
    border-color: #313c3e;
}
.popover {
    background-color: #313c3e;
}
.popover.bottom>.arrow:after {
    border-bottom-color: #313c3e;
}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: .3em solid transparent;
    font-size: 7px;
}
.star:before, .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left: 1em solid transparent;
    transform: rotate(-35deg);
}
.star:after {
    transform: rotate(35deg);
}
